<!--
   Ben Fuqua
   4/24/21
   home.html
   Homepage for the dating site
-->

<include href="views/header.html"/>
<body>
<div class="container mb-3" id="main">
    <!-- Nav bar -->
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <h5>My Dating Website</h5>
            </div>
            <a href="{{ @BASE }}">Home Page</a>
        </div>
    </div><hr>
    <div class="row pb-3">
        <!-- Left side -->
        <div class="col-6">
            <h1 class="text-center">My Dating Website</h1>
            <p>Welcome to the web's most successful dating website. At <b>My Dating Website</b>
                you'll meet other like minded individuals. We have the highest success rate of couples on the web.
                User's are matched by interest and location. Find out why so many others have found love on our site!</p>
            <h3 class="text-center">Hear what our users are saying about us</h3><hr>
            <blockquote class="fst-italic offset-1">
                "I met the love of my life after only a month!" - Andrea
            </blockquote><hr>
            <blockquote class="fst-italic offset-1">
                "It was so easy to set up and profile and start meeting people.
                I didn't realize how many others were looking for love in my area." - John Smith
            </blockquote><hr>
            <blockquote class="fst-italic offset-1">
                "Just try it! You'll never be the same!" - Sarah
            </blockquote><hr>
            <div class="col text-center">
                <a class="btn btn-danger" href="step1">Create a profile!</a>
            </div>
        </div>
        <!-- Right side -->
        <div class="col-6">
            <img src="images/splash.jpg" alt="A happy couple" class="img-thumbnail">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>